<h1><%="#{@user.email.split('@')[0].capitalize}'s"%> notes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<div id="preview"></div>
<% @notes.each do |note| %>
  <tr>
    <td><%= link_to note.title, note, :remote=>true%></td>
    <td><%= note.content %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
